*{
    background : linear-gradient(to bottom right, #da9d2e , white);
}

#movieresults {
   
 
   
    display: grid;
    grid-template-columns: repeat(5, 80px);
    gap: 750px;
    grid-auto-rows: 130px;
    width: 200px;
    height: 300px;
    margin-top: 100px;
    margin-left: 50px;
  }
.reset{
    
    background-color: #684901;
    display: inline;
    text-align: center;

}
